services:
  gateway:
    container_name: gateway
    build:
      context: ./APIGateway # Use the local directory as the build context
      dockerfile: Dockerfile # Use the Dockerfile in the local directory
    ports:
      - "5001:5001" # Map the container port to the host port
    volumes:
      - ./APIGateway:/app # Mount the local directory to the container
    depends_on:
      - authorization-db # Wait for the mongo service to be ready

  car-catalog-service:
    container_name: car-catalog-service
    build:
      context: ./CarCatalogService/Service # Use the local directory as the build context
      dockerfile: Dockerfile # Use the Dockerfile in the local directory
    ports:
      - "5002:5002" # Map the container port to the host port
    environment:
      MONGO_URI: "mongodb://car-catalog-db:27017/car-catalog-db" # Use the service name as the hostname
    volumes:
      - ./CarCatalogService/Service:/app # Mount the local directory to the container
    depends_on:
      - car-catalog-db # Wait for the mongo service to be ready

  car-catalog-db:
    container_name: car-catalog-db
    image: mongo:latest # Use the latest MongoDB image
    volumes:
      - car-catalog-db:/data/db # Persist the data locally
      - ./CarCatalogService/Database/init:/docker-entrypoint-initdb.d
    ports:
      - "27017:27017" # Map the container port to the host port

  authorization-db:
    container_name: authorization-db
    image: mongo:latest # Use the latest MongoDB image
    volumes:
      - authorization-db:/data/db # Persist the data locally
    ports:
      - "27018:27017" # Map the container port to the host port



  customer-support-service:
    container_name: customer-support-service
    build:
      context: ./CustomerSupportService/Service # Use the local directory as the build context
      dockerfile: Dockerfile # Use the Dockerfile in the local directory
    ports:
      - "5003:5003" # Map the container port to the host port
    environment:
      MONGO_URI: "mongodb://customer-service-db:27019/customer-service-db" # Use the service name as the hostname
    volumes:
      - ./CustomerSupportService/Service:/app # Mount the local directory to the container
    depends_on:
      - customer-service-db # Wait for the mongo service to be ready

  customer-service-db:
    container_name: customer-service-db
    image: mongo:latest # Use the latest MongoDB image
    volumes:
      - customer-service-db:/data/db # Persist the data locally
      - ./CustomerSupportService/Database/init:/docker-entrypoint-initdb.d
    ports:
      - "27019:27017" # Map the container port to the host port


volumes:
  car-catalog-db:
    driver: local # Use the local volume driver
  authorization-db:
    driver: local # Use the local volume driver
  customer-service-db:
    driver: local

networks:
  micro-net:
    driver: bridge