services:
  gateway:
    container_name: gateway
    build:
      context: ./APIGateway # Use the local directory as the build context
      dockerfile: Dockerfile # Use the Dockerfile in the local directory
    ports:
      - "5001:5001" # Map the container port to the host port
    volumes:
      - ./APIGateway:/app # Mount the local directory to the container
    depends_on:
      - authorization-db # Wait for the mongo service to be ready
      - authorization-service
    networks:
      - micro-net

  car-catalog-service:
    container_name: car-catalog-service
    build:
      context: ./CarCatalogService/Service # Use the local directory as the build context
      dockerfile: Dockerfile # Use the Dockerfile in the local directory
    ports:
      - "5002:5002" # Map the container port to the host port
    environment:
      MONGO_URI: "mongodb://car-catalog-db:27017/car-catalog-db" # Use the service name as the hostname
    volumes:
      - ./CarCatalogService/Service:/app # Mount the local directory to the container
    depends_on:
      - car-catalog-db # Wait for the mongo service to be ready
    networks:
      - micro-net

  car-catalog-db:
    container_name: car-catalog-db
    image: mongo:latest # Use the latest MongoDB image
    volumes:
      - car-catalog-db:/data/db # Persist the data locally
      - ./CarCatalogService/Database/init:/docker-entrypoint-initdb.d
    ports:
      - "27017:27017" # Map the container port to the host port
    networks:
      - micro-net      

  authorization-service:
    container_name: authorization-service
    build:
      context: ./AuthorizationService/Service # Use the local directory as the build context
      dockerfile: Dockerfile # Use the Dockerfile in the local directory
    ports:
      - "5004:5004" # Map the container port to the host port
    volumes:
      - ./AuthorizationService/Service:/app # Mount the local directory to the container
    depends_on:
      - authorization-db # Wait for the mongo service to be ready
    networks:
      - micro-net      

  authorization-db:
    container_name: authorization-db
    image: mysql:latest # Use the latest MongoDB image
    environment:
      MYSQL_ROOT_PASSWORD: password # super sikkert
      MYSQL_DATABASE: user_db
      MYSQL_USER: admin
      MYSQL_PASSWORD: MegaIsbjørn
    volumes:
      - authorization-db:/data/db # Persist the data locally
      - ./AuthorizationService/Database/init:/docker-entrypoint-initdb.d
    ports:
      - "8005:3306" # Map the container port to the host port
    networks:
      - micro-net      

  employee-management-service:
    container_name: employee-management-service
    build:
      context: ./EmployeeManagementService/Service # Use the local directory as the build context
      dockerfile: Dockerfile # Use the Dockerfile in the local directory
    ports:
      - "5005:5005" # Map the container port to the host port
    volumes:
      - ./EmployeeManagementService/Service:/app # Mount the local directory to the container
    networks:
      - micro-net

  employee-management-db:
    container_name: employee-management-db
    image: mysql:latest # Use the latest MongoDB image
    environment:
      MYSQL_ROOT_PASSWORD: password # super sikkert
      MYSQL_DATABASE: employee_db
      MYSQL_USER: admin
      MYSQL_PASSWORD: MegaIsbjørn
    volumes:
      - employee-management-db:/data/db # Persist the data locally
      - ./EmployeeManagementService/Database/init:/docker-entrypoint-initdb.d
    ports:
      - "8006:3307" # Map the container port to the host port
    networks:
      - micro-net

  customer-support-service:
    container_name: customer-support-service
    build:
      context: ./CustomerSupportService/Service # Use the local directory as the build context
      dockerfile: Dockerfile # Use the Dockerfile in the local directory
    ports:
      - "5003:5003" # Map the container port to the host port
    environment:
      MONGO_URI: "mongodb://customer-service-db:27019/customer-service-db" # Use the service name as the hostname
    volumes:
      - ./CustomerSupportService/Service:/app # Mount the local directory to the container
    depends_on:
      - customer-service-db # Wait for the mongo service to be ready
    networks:
      - micro-net  

  customer-service-db:
    container_name: customer-service-db
    image: mongo:latest # Use the latest MongoDB image
    volumes:
      - customer-service-db:/data/db # Persist the data locally
      - ./CustomerSupportService/Database/init:/docker-entrypoint-initdb.d
    ports:
      - "27019:27017" # Map the container port to the host port
    networks:
      - micro-net      


volumes:
  car-catalog-db:
    driver: local # Use the local volume driver
  authorization-db:
    driver: local # Use the local volume driver
  customer-service-db:
    driver: local
  employee-management-db:
    driver: local

networks:
  micro-net:
    driver: bridge